/* ROUNDED THEME FOR ROFI - MATUGEN TEMPLATE */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    /* Background dibuat lebih gelap dengan menggunakan token background / surface_container_lowest */
    bg0:    {{colors.background.default.hex}}F2;
    bg1:    {{colors.surface_container_lowest.default.hex}};
    bg2:    {{colors.surface_container_low.default.hex}}80;

    /* bg3 biasanya digunakan untuk warna aksen/highlight */
    bg3:    {{colors.primary.default.hex}}F2;

    /* Warna teks (Foreground) */
    fg0:    {{colors.on_surface.default.hex}};
    fg1:    {{colors.on_surface_variant.default.hex}};
    fg2:    {{colors.on_background.default.hex}};
    fg3:    {{colors.outline.default.hex}};
}

element selected {
    text-color: @bg1;
}
