[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = https://gitlab.com/hantamkoding-dotfiles/neovim
[submodule "qtile/.config/qtile"]
	path = qtile/.config/qtile
	url = git@github.com:mohamad-supangat/qtile.git
[submodule "catppuccin/gtk"]
	path = catppuccin/gtk
	url = https://github.com/catppuccin/gtk
[submodule "catppuccin/Kvantum"]
	path = catppuccin/Kvantum
	url = https://github.com/catppuccin/Kvantum
[submodule "icons/Reversal-icon-theme"]
	path = icons/Reversal-icon-theme
	url = https://github.com/yeyushengfan258/Reversal-icon-theme
[submodule "qutebrowser/.config/qutebrowser"]
	path = qutebrowser/.config/qutebrowser
	url = git@github.com:mohamad-supangat/qutebrowser.git
